In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
world = pd.read_csv('./CSWS_Population.csv')

In [6]:
world.head()

,country,countryCode,year,lifeExpectancy,populationFemale,populationMale,gdpPerCapita,population
0,Aruba,ABW,1960,65.662,27637.0,26574.0,NaN,54211.0
1,Aruba,ABW,1961,66.074,28254.0,27184.0,NaN,55438.0
2,Aruba,ABW,1962,66.444,28655.0,27570.0,NaN,56225.0
3,Aruba,ABW,1963,66.787,28907.0,27788.0,NaN,56695.0
4,Aruba,ABW,1964,67.113,29094.0,27938.0,NaN,57032.0

In [7]:
world.describe()

,year,lifeExpectancy,populationFemale,populationMale,gdpPerCapita,population
count,15312.000000,13747.000000,1.385100e+04,1.385100e+04,1.177400e+04,1.385100e+04
mean,1988.500000,63.544588,1.118957e+08,1.133304e+08,7.997917e+03,2.252261e+08
std,16.741216,11.161325,3.498110e+08,3.572930e+08,5.639578e+04,7.070731e+08
min,1960.000000,18.907000,1.638800e+04,1.611200e+04,3.474143e+01,3.250000e+04
25%,1974.000000,55.513000,1.026313e+06,1.031008e+06,4.748923e+02,2.062506e+06
50%,1988.500000,66.322000,4.165639e+06,4.106507e+06,1.678268e+03,8.293678e+06
75%,2003.000000,72.003415,2.769145e+07,2.701159e+07,6.688504e+03,5.454439e+07
max,2017.000000,85.417073,3.730313e+09,3.797199e+09,5.559072e+06,7.527512e+09